@tailwind base;

@tailwind components;

@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

#app.light ::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;

}

#app.dark ::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;

}

#app.light ::-webkit-scrollbar-thumb {
  background-color: theme("colors.background");
  border-radius: 10px;
}

#app.dark ::-webkit-scrollbar-thumb {
  background-color: theme("colors.zone-secondary-dark");
  border-radius: 10px;
}


::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}